<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>

<body>
  <div class="registration">
    <div class="wrapper">
      <div class="title"><span>Login Form</span></div>
      <form id="loginForm">
        <div class="row">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Login"  id="login"/>
        </div>
        <div class="row button">
          <button id="loginButton">Login</button>
          <p id="error" style="color: red;"></p>
        </div>
        <div class="signup-link">Not a member? <a href="/sait/templates/register.html">Regist now</a></div>
      </form>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/signup.js') }}"></script>
</body>

</html>